<p>(bar page)</p>
<p>Barista: <%= @barista_voice.nil? ? "" : @barista_voice.voice %></p>
<%= form_tag({ controller: :in_store_operations, action: :talkatbar }, id: :talkatbar, class: :talkatbar) do %>
Customer:
<%= select_tag 'customer_voice', options_from_collection_for_select(@customer_voices, :id, :voice, 1) %>
  <%= submit_tag 'talk' %>
<% end %>

