<header>
  <h1><%= @CafeName %></h1>
</header>
Entrance here.<br>
Welcome to your third-place!<br>
<br>
<%= form_tag({ controller: :in_store_operations, action: :welcome }, id: :welcome_form, class: :welcome) do %>
  Please enter your nickname:
  <%= text_field_tag :customer_name, '', size: 30 %>
  <%= submit_tag 'go' %>
<% end %>


